:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
label {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}
